html, body {
  font-family: "Helvetica Neue", "PingFang SC", "Microsoft YaHei",sans-serif;
  font-weight: 100;
  font-size: 12px;
  background: #000;
  height: 0; }

.jumbotron {
  position: fixed;
  background: url("../img/kon.jpg") top center fixed no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  margin-bottom: 0;
  opacity: 0.5;
  z-index: -9999; }

/******************* Music Circle *******************/
div#showAlbum {
  position: absolute;
  width: 33rem;
  height: 20rem;
  opacity: 0;
  z-index: 1000; }

div#albumCover {
  position: absolute;
  border-radius: 50%;
  width: 39rem;
  height: 39rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0 0 1rem 0.5rem #0e0e0e, 0 0 1rem 0.5rem #0e0e0e inset;
  background: black url("../img/noThankYou.jpg") no-repeat;
  background-size: cover;
  opacity: 0;
  z-index: 2; }

div#albumCover div#pause {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%; }

div.musicCircle {
  position: absolute;
  border: 2px solid rgba(219, 133, 255, 0.6);
  border-radius: 50%;
  width: 40rem;
  height: 40rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0 0 .5rem 0.1rem #e1a8ff, 0 0 .5rem 0.1rem #e1a8ff inset; }

div#musicCircleToPlay {
  box-shadow: none; }

div.musicCircle div.rhythmCircle {
  position: absolute;
  border: 2px solid #db85ff;
  border-radius: 50%;
  width: 45rem;
  height: 45rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0 0 .5rem 0.1rem #e1a8ff, 0 0 .5rem 0.1rem #e1a8ff inset;
  mix-blend-mode: screen;
  opacity: .5;
  z-index: -1; }

.musicCircle div.animeBar {
  position: relative;
  border-radius: .5rem;
  width: 100%;
  height: 4rem;
  background-color: rgba(146, 146, 146, 0.5);
  box-shadow: 0 .05rem 2rem .1rem #464646;
  z-index: 0; }

div.musicCircle p.songTimer {
  text-align: center;
  font-size: 2.2rem;
  margin: 0;
  color: #eaeaea;
  text-shadow: 0 0 .5rem white, 0 0 .3rem #def1f5;
  z-index: 100;
  padding-left: 1.5rem;
  letter-spacing: .4rem; }

div.musicCircle div.songInfo {
  position: relative;
  color: white;
  letter-spacing: 0.2rem; }

div.musicCircle div#songTitle {
  top: 7.5rem;
  left: 4.5rem;
  float: left;
  font-size: 2.5rem;
  text-shadow: 0 0 0.5rem #d78bff, 0 0 0.3rem #d78bff;
  z-index: 0; }

div.musicCircle div#singer {
  float: right;
  font-size: 1.5rem;
  top: 24rem;
  right: 4.5rem;
  text-shadow: 0 0 0.5rem #d78bff, 0 0 0.3rem #d78bff;
  z-index: 0; }

/******************* Player Control *******************/
svg {
  position: absolute; }

div#playerControl {
  position: relative;
  z-index: 10; }

div#playerControl svg circle:hover {
  cursor: pointer; }

/******************* Bottom *******************/
span#albumName {
  position: absolute;
  color: #FFFFFF;
  letter-spacing: .3rem;
  font-size: 1.6rem;
  display: none;
  opacity: 0; }

div#functionIcons {
  position: absolute; }

div#functionIcons > span {
  color: white;
  padding: .5rem 3rem .5rem 0;
  cursor: pointer;
  -webkit-transition: 0.25s all linear;
  -moz-transition: 0.25s all linear;
  -ms-transition: 0.25s all linear;
  -o-transition: 0.25s all linear;
  transition: 0.25s all linear; }

div#functionIcons span.fa-4x {
  font-size: 3.5em; }

div#functionIcons span:hover {
  text-shadow: 0 0 2px white; }

div#functionIcons span#likeSong {
  color: #ff2222;
  padding-right: 0; }

div#functionIcons span#likeSong:hover {
  text-shadow: 0 0 2px #ff2222; }

/********Input slider for Volume********/
span#volumeControll {
  display: inline-block; }

span#volumeControll:hover {
  padding-right: 2rem; }

span#volumeControll:hover #volumeSlider {
  width: 6rem;
  opacity: 1;
  margin-left: 1rem; }

span#volumeControll span#volumeIcon {
  display: inline-block; }

input#volumeSlider {
  position: relative;
  bottom: 12px;
  display: inline-block;
  opacity: 0;
  width: 0;
  -webkit-transition: 0.25s all linear;
  -moz-transition: 0.25s all linear;
  -ms-transition: 0.25s all linear;
  -o-transition: 0.25s all linear;
  transition: 0.25s all linear; }

input#volumeSlider[type=range] {
  -webkit-appearance: none; }

input#volumeSlider[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #fff;
  border: none;
  border-radius: 10%; }

input#volumeSlider[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 10px;
  background: #e595ff;
  margin-top: -7px; }

input#volumeSlider[type=range]:focus {
  outline: none; }

input#volumeSlider[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }

/*# sourceMappingURL=main.css.map */
