$theme: #d78bff;

html, body {
  font-family: "Helvetica Neue", "PingFang SC", "Microsoft YaHei",sans-serif;
  font-weight: 100;
  font-size: 12px;
  background: #000;
}

.jumbotron {
  position: fixed;
  background: url("../img/kon.jpg") top center fixed no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  margin-bottom: 0;
  opacity: 0.4;
  z-index: -9999;
}

/******************* Music Circle *******************/

div.musicCircle {
  position: absolute;
  border: 2px solid rgba(219, 133, 255, 0.6);
  border-radius: 50%;
  width: 42rem;
  height: 42rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0 0 .5rem 0.1rem #e1a8ff, 0 0 .5rem 0.1rem #e1a8ff inset;
}

div.musicCircle div.rhythmCircle {
  position: absolute;
  border: 2px solid rgba(219, 133, 255, 1);
  border-radius: 50%;
  width: 47rem;
  height: 47rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0 0 .5rem 0.1rem #e1a8ff, 0 0 .5rem 0.1rem #e1a8ff inset;
  mix-blend-mode: screen;
  opacity: .5;
}

.musicCircle div.animeBar {
  position: relative;
  border-radius: .5rem;
  width: 100%;
  height: 4rem;
  background-color: rgba(146,146,146,0.5);
  box-shadow: 0 .05rem 2rem .1rem #464646;
  z-index: -1;
}

div.musicCircle p.songTimer {
  text-align: center;
  font-size: 2.2rem;
  margin: 0;
  color: #eaeaea;
  text-shadow: 0 0 .5rem white, 0 0 .3rem #def1f5;
  z-index: 100;
  padding-left: 1.5rem;
  letter-spacing: .4rem;
}

div.musicCircle div.songInfo {
  position: relative;
  color: white;
  letter-spacing: 0.2rem;
}

div.musicCircle div#songTitle {
  top: 7.5rem;
  left: 4.5rem;
  float: left;
  font-size: 2.5rem;
  text-shadow: 0 0 .5rem $theme, 0 0 .3rem $theme;
}

div.musicCircle div#singer {
  float: right;
  font-size: 1.5rem;
  top: 24rem;
  right: 4.5rem;
  text-shadow: 0 0 .5rem $theme, 0 0 .3rem $theme;
}

/******************* Player Control *******************/

svg {
  position: absolute;
}

div#playerControl {
  position: relative;
}

div#playerControl svg circle {
  opacity: .8;
}
